@model List<ABMWebMVC.Models.ViewModels.PersonaLViewModel>
@{
    ViewBag.Title = "Persona";
}

<h2 style="text-align:center">@ViewBag.Title</h2>

<div class="row" style="text-align:center;padding:20px">

    <a href="~/Persona/Nuevo" class="btn btn-primary">Nuevo</a>

</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">

            @* Titulo de las columnas *@
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Mail</th>
                <th>Fecha De Nacimiento</th>
                <th></th>

            </tr>

            @* Recorre la lista de personas y pone cada valor en la columna correspondiente *@

            @foreach (var persona in Model)
            {
                <tr>
                    <td>@persona.DNI</td>
                    <td>@persona.Nombre</td>
                    <td>@persona.Apellido</td>
                    <td>@persona.Mail</td>
                    <td >@persona.FechaNacimiento.ToShortDateString()</td>
                    <td>
                        <a class="btn btn-default" href="~/Persona/Editar/@persona.DNI">Editar</a>
                        <a class="btn btn-danger"  href="~/Persona/Eliminar/@persona.DNI">Eliminar</a>
                    </td>
                    


                </tr>
            }

        </table>
    </div>
</div>