@model List<ABMWebMVC.Models.ViewModels.PersonaLViewModel>
@{
    ViewBag.Title = "Persona";
}

<h2>@ViewBag.Title</h2>

<div class="row" style="text-align:center;padding:20px">

    <a href="~/Persona/Nuevo" class="btn btn-primary">Nuevo</a>

</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">

            @* Titulo de las columnas *@
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Mail</th>
                <th>Fecha De Nacimiento</th>
            </tr>

            @* Recorre la lista de personas y pone cada valor en la columna correspondiente *@

            @foreach (var persona in Model)
            {
                <tr>
                    <th>@persona.DNI</th>
                    <th>@persona.Nombre</th>
                    <th>@persona.Apellido</th>
                    <th>@persona.Mail</th>
                    <th>@persona.FechaNacimiento</th>




                </tr>
            }

        </table>
    </div>
</div>